<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>

	<p>
    	Splurty was built by <a target="_blank" href="https://github.com/brianj12021993/Gem-and-Ruby">Brian Johnson</a> . A new developer that is determined to become the best and change career paths. Brian is motivated to create and learn more about web development.
  	</p>
  	<br />
  	<p>
    	Brian has just began his journey to becoming a web developer through Vanderbilt University's Coding Bootcamp. His main goal is to change careers and do some free lance work on the side. He is eager to learn and gain the skills needed to become a successful developer.
  	</p>
  	<p>
    	If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  	</p>

  	<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'IMG_0615.JPG', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Brian Johnson</h2>
      <br />
      <p>
        Brian Johnson is a junior developer that is experienced with HTML, CSS, Javascript and is a Ruby on Rails contributer. He is looking to jump right into the field of web development after finishing Vanderbilt's Coding Bootcamp. He is dedicated to learning and is seeking new opportunities that will groom him for success as a developer.
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />